@media (min-width: 768px)
.navbar-default {
    background-color: black;
}

.bg-primary.odd {
    background-color: white;
    color: black;
}

aside.bg-primary.odd {
    background-color: black;
    color: #a6228f;
}

p {
    font-weight: 200;
}
